html > body {
    background-color: #e9f4ff;
}

.grid-container-dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 3em 5em 5em 1fr 3em;
    grid-template-rows: 2em 1fr 2em;
}

.grid-container-nav {
    position: relative;
    display: grid;
    grid-template-rows: 4em 1fr 4em;
    top: 3em;
    height: calc(100% - 3em);
    border-radius: 12px;
    background: rgb(255,63,70);
background: linear-gradient(180deg, rgba(255,63,70,1) 0%, rgba(255,63,70,0.85) 100%);
    grid-column: 2/4;
    grid-row: 2/3;
}

.container-main {
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-template-rows: auto 1fr 2em;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    grid-column: 3/5;
    grid-row: 2/3;
    background: rgb(233,244,255);
    background: linear-gradient(0deg, rgba(233,244,255,1) 6%, rgb(244, 250, 255) 93%);
}