@media screen and (max-width: 40em) {
    .blog-intro-image-wrapper {
        max-height: 20em!important;
    }
    .blog-post-preview {
        padding: 0!important;
    }
    .blog-post-full > .blog-post-full-text {
        margin: 0.5em 0;
    }
}
@media screen and (max-width: 60em) {
    .grid-container-blog-intro > .blog-intro-image-wrapper {
        margin-bottom: 1em;
    }
    .grid-container-blog-intro > .blog-intro-info {
        padding: 0;
    }
    .grid-container-blog-posts > .new-post-button-wrapper {
        grid-column: 1/3;
    }
    .new-post-button-wrapper {
        grid-column: 1/3!important;
    }
    .blog-post-preview {
        padding: 0 1.5em!important;
    }
    
}

p.blog-title {
    font-size: 3em;
    margin: 0 0 1em 0;
}

.blog-intro-header > * {
    margin: 0 0 1em 0;
}

.new-post-button-wrapper {
    display: flex;
    justify-content: flex-end;
    grid-column: 1/4;
    width: 100%;
}

.new-post-button {
    width: 18.75em;
}

.blog-intro-image-wrapper {
    display: flex;
    justify-content: center;

}

.blog-intro-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.blog-intro-info {
    padding: 0 1em;
}

.blog-post-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 250ms;
}

.blog-post-preview > * {
    width: 100%;
}

.blog-post-preview-header-image > img {
    border-radius: 12px;
    width: 100%;
    height: 12em;
}

.blog-post-preview-date > * {
    margin: 0.25em 0;
}

.blog-post-preview-title > * {
    margin: 0.5em 0;
}

.blog-post-preview-content > * {
    margin: 0;
}

.blog-post-full {
        grid-column: 1/4;
}

.blog-post-full-text {
    white-space: pre-wrap;
    margin: 0.5em 0;
}

.blog-post-full-title {
    margin-top: 1em;
}

.blog-post-full-image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.blog-post-full-image {
    max-width: 100%;
    max-height: 40em;
}

.blog-post-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 1em;
}


.blog-post-button {
    background-color: white;
    border: 0px;
    border-radius: 12px;
    padding: 1em;
    height: 3em;
    margin-left: 1em;
}