.logo {
    width: 200px;
    height: auto;
    align-self: center;
}

.mdl-button--raised.mdl-button--colored {
    background: rgb(255,63,70)!important;
    background: linear-gradient(180deg, rgba(255,63,70,1) 0%, rgba(255,63,70,0.85) 100%)!important;
    transition: 250ms;
}

.mdl-button--raised.mdl-button--colored:hover {
    transform: translateY(-5px);
    transition: 250ms;
}

.icon-button {
    border: 0px;
    background-color: transparent;
    transition: 250ms;
}

.icon-button:hover {
    opacity: 0.7;
    transition: 250ms;
}

.hover-bounce {
    transition: 250ms;
}

.hover-bounce:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 250ms;
}

.shadow {
    box-shadow:
  0 0.2px 2.2px rgba(0, 0, 0, 0.02),
  0 0.5px 5.3px rgba(0, 0, 0, 0.028),
  0 0.9px 10px rgba(0, 0, 0, 0.035),
  0 1.6px 17.9px rgba(0, 0, 0, 0.042),
  0 2.9px 33.4px rgba(0, 0, 0, 0.05),
  0 7px 80px rgba(0, 0, 0, 0.07)
;
}

/* .bg-gradient {
    background: rgb(0,74,255);
background: linear-gradient(207deg, rgba(0,74,255,0.5690651260504201) 6%, rgba(63,34,195,0.5690651260504201) 33%, rgba(199,44,255,0.4822303921568627) 62%, rgba(255,105,105,0.9192051820728291) 93%);
} */

.bg-gradient {
    background: rgb(255,63,70);
    background: linear-gradient(180deg, rgba(255,63,70,1) 90%, rgba(255,63,70,0.95) 100%);
}